body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Nothing, .N\/A {
    --status-color: #8c0a01;
}

.Boots {
    --status-color: #ff5444;
}

.Intro {
    --status-color: #fd8c1d;
}

.InGame {
    --status-color: #ecbb00;
}

.Playable {
    /*--status-color: #24bb2d; */
    /*--status-color: #86de74; */
    --status-color: #5fac4e;
}

.main {
    background-color: var(--background-themed);
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    position: relative;
    z-index: 2;

    --accent1: rgba(225, 75, 76, 0.95);
    --accent1H: rgb(234, 80, 80);

    --accent2: rgba(250, 83, 83, 0.9);
    --accent2H: rgba(250, 90, 90, 0.9);
    --accent2D: rgba(210, 53, 53, 0.9);
    --accent2DH: rgba(215, 58, 58, 0.9);
}


.background {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    margin-top: 10%;
    right: 0;
}


.backgroundPlane1, .backgroundPlane2 {
    position: fixed;
    transition: margin 0.5s ease;
    width: 160rem;
    height: 140rem;
    margin-left: 22rem;
    margin-top: -16rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    top: 3%;
    left: 10%;
}

.backgroundPlane1 {
    animation: rotate1 21000ms infinite linear;
    background: var(--main1);
}

.backgroundPlane2 {
    animation: rotate2 21000ms infinite linear;
    background: var(--main2);
}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(390deg);
    }
}

.compMenu {
    width: 600px;
    height: 490px;
    background: var(--accent1);
    margin: 110px 0 30px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 2;
}

.compMenuText1 {
    font-size: 2rem;
    font-weight: 700;
    /*line-height: 45px;*/
    letter-spacing: -0.02rem;
}

.compMenuStuffText {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 22px;
    letter-spacing: -0.01rem;
}

.compMenuStatusWrap {
    display: flex;
    position: relative;
    width: 400px;
    height: 35px;
    background: var(--accent2);
    border-radius: 5px;
    margin-top: 5px;
    overflow: hidden;
    align-items: center;
    user-select: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 2px;
    transition: background-color 120ms ease-out;
}

.compMenuStatusWrap:hover {
    background: var(--accent2H);
}

.compStatusSelected {
    background: var(--accent2D);

    .gameMenuStatusAmount {
        opacity: 1;
    }

    .compMenuStatusInfo {
        opacity: 0;
    }
}

.compStatusSelected:hover {
    background: var(--accent2DH);
}

.compMenuStatusLabel, .compMenuStatusInfo, .gameMenuStatusAmount {
    position: absolute;
    z-index: 3;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.01rem;
    transition: opacity 120ms ease-in;
}

.compMenuStatusLabel {
    left: 1rem;
}

.compMenuStatusInfo {
    right: 1rem;
}

.gameMenuStatusAmount {
    right: 1rem;
    opacity: 0;
}

.gameMenuStatusBar {
    width: 0;
    height: inherit;
    background: var(--status-color);
    border-radius: 5px;
    transition: width 1s ease-out;
}

.gameMenuSearchBar {
    margin-top: 40px;
    width: 300px;
    height: 40px;
    border: none; /* disables default border*/
    outline: none;
    background: var(--accent2);
    border-radius: 10px;
    padding: 0 1rem;
    font-size: 0.94rem;
    color: var(--text);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.03) 1px 1px 2px;
    transition: background-color 100ms ease-out;
}

.gameMenuSearchBar:focus, .gameMenuSearchBar:hover {
    background: var(--accent2H);
}

.gameMenuSearchBar::placeholder {
    color: var(--text2);
    font-weight: 700;
    font-size: 0.9rem;
    user-select: none;
    opacity: 1;
}

/*{*/
/*    color: var(--text2);*/
/*    font-weight: 700;*/
/*    font-size: 0.9rem;*/
/*    user-select: none;*/
/*    opacity: 1;*/
/*}*/

.skeletonLoading {
    background-image: linear-gradient(90deg, var(--accent1), var(--accent2H), var(--accent1)) !important;
    background-size: 200% 100% !important;
    animation: skeletonAnimation 2s ease-in-out infinite;
    cursor: default !important;
}

.gameCardImageText, .gameCardImage, .gameContent {
    animation: fadeIn 200ms ease-out 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes skeletonAnimation {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.gameCard, .gameCardS, .gameCardE {
    position: relative;
    background: var(--accent1);
    height: 100px;
    width: 600px;
    margin-top: 6px;
    transition: background-color 230ms ease-in, background-image 200ms ease-in, animation 200ms ease-in;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}

.gameCardS {
    border-radius: 10px 10px 3px 3px;
}

.gameCard {
    border-radius: 3px 3px 3px 3px;
}

.gameCardE {
    border-radius: 3px 3px 10px 10px;
}


.gameCard:hover, .gameCardS:hover, .gameCardE:hover {
    background: var(--accent1H);

    .gameCardImageText {
        background: var(--accent2H);
    }
}

.gameCardImage {
    font-size: 0;
    background-color: var(--accent2H);
}

.gameCardImage, .gameCardImageText {
    width: 100px;
    height: 100px;
    border-radius: 0 5px 5px 0;
}

.gameCardImageText {
    transition: background-color 230ms ease-in;
    background: var(--accent2);
    font-weight: 700;
    align-content: center;
    text-align: center;
    color: var(--text);
    user-select: none;
    letter-spacing: -0.03rem;
}

.gameContent {
    position: relative;
    margin: 10px 20px 10px 20px;
    font-weight: 500;
    flex: 1;
}

.gameCardTitle {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.125rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: width 0.4s ease-out;
    width: 21rem;
}

.gameCardTag {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    width: 85px;
    background: var(--status-color);
    height: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
    user-select: none;
}

.gameCardCode {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 500;
    width: 100px;
    text-align: center;
    letter-spacing: -0.02rem;
}

.gameCardUpdated {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 500;
    width: 100px;
    text-align: center;
    letter-spacing: -0.03rem;
}


.endMenu {
    width: 600px;
    height: 150px;
    background: var(--accent1);
    margin: 30px 0 55px 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 2;
}

.endMenuInfoText {
    font-size: 1rem;
    font-weight: 600;
    /*letter-spacing: -0.5px;*/
}

.pageBarContainer {
    display: flex;
    margin: 10px 0 40px 0;
    gap: 0.4rem;
    height: 2rem;

}

.pageBarSearch, .pageBarImage, .pageBarText {
    background-color: var(--accent2);
    text-align: center;
    align-content: center;
    width: 2.5rem;
    height: 2.3rem;
    user-select: none;
    padding: 0.3rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 1px 1px 2px;
    transition: background-color 100ms ease-out;
}

.pageBarSearch:hover, .pageBarImage:hover, .pageBarText:hover {
    background-color: var(--accent2H);
}

.pageBarSearch:focus {
    background-color: var(--accent2H);
}

.pageBarSearch::placeholder {
    color: var(--text2) !important;
    /*color: red;!important;*/
}

.pageBarImage, .pageBarText {
    cursor: pointer;
}

.pageBarSearch, .pageBarText, .pageBarSearch::placeholder {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    justify-content: center;
    display: grid;
}

.pageBarSelected {
    background-color: var(--accent2DH);
}
.pageBarSelected:hover {
    background-color: var(--accent2D);
}

.pageBarSelected.pageBarSearch:focus {
    background-color: var(--accent2DH);
}

.pageBarSelected.pageBarSearch:focus:hover {
    background-color: var(--accent2D);
}

.pageBarSearch {
    appearance: textfield;
    outline: none;
    border: none;
}

.pageBarSearch::-webkit-inner-spin-button,
.pageBarSearch::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.pageBarImage {
    font-size: 0;
}


@media screen and (max-width: 1150px) {
    .mainBackground1, .mainBackground2 {
        margin-left: 32rem;
    }
}

/* top menu switch */
@media screen and (max-width: 780px) {
    .mainContent {
        margin-left: 1rem;
    }
}


@media screen and (max-width: 600px) {
    .mainBackground1, .mainBackground2 {
        margin-left: 50rem;
    }
}

/* most phones... i think? (hope) */
@media (min-height: 520px) and (max-width: 460px) {
    .mainBackground {
        margin-top: 0;
    }
}