body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.main {
    position: relative;
    overflow: hidden;
    background-color: var(--background-themed);
    width: 100%;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px;
    z-index: 2;
    min-height: 900px;
}


.mainBackground {
    position: absolute;
    top: 0;
    transform: rotate(80deg);
    margin-top: 10%;
    right: 0;
}


.mainBackground1, .mainBackground2 {
    position: fixed;
    transition: margin 0.5s ease;
    width: 160rem;
    height: 140rem;
    margin-left: 22rem;
    margin-top: -16rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    top: 3%;
    left: 10%;
}

.mainBackground1 {
    animation: rotate1 21000ms infinite linear;
    background: var(--main1);
}

.mainBackground2 {
    animation: rotate2 21000ms infinite linear;
    background: var(--main2);
}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(390deg);
    }
}


.mainContent {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20%;
    margin-left: 4rem;
    transition: margin-left 0.3s ease;
}

.bigText {
    font-size: 2.63rem;
    font-weight: 800;
}

.midText {
    font-size: 1.8rem;
    font-weight: 800;
}

.smollText {
    font-size: 1.5rem;
    font-weight: 800;
}

.mainText1 {
    position: relative;
}

.mainText2 {
    position: relative;
    margin-top: 30px;
}

.mainTable {
    position: relative;
    margin-top: 6rem;
    text-align: center;
    width: 40rem;
    height: 5.2rem;
}

.mainButtonContainer {
    position: relative;
    margin-top: 4rem;
    margin-left: 1.6rem;
    display: flex;
    gap: 3rem;
}

.mainButton {
    width: 9.5rem;
    height: 3rem;
    background-color: #7a1d1c;
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 800;
    transition: box-shadow 0.2s ease, background 0.2s ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* #7a1d1c */
/* #8b2729 */
/* #822223 */
.mainButton:hover {
    background-color: #5c0504;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
}

.main2 {
    overflow: hidden;
    background-color: var(--background-themed);
    width: 100%;
    height: 90vh;
}

.mainTableNumber {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 3rem;
    transition: width 1s ease-out;
    width: auto;
    justify-content: center;
}


.mainTableNumber > .tableNumbersContainer {
    display: flex;
    flex-direction: column;
    position: static;

    line-height: 3rem;
    transition: all 2s ease;
}


.main2Content {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20%;
    margin-left: 4rem;
    transition: margin-left 0.3s ease;
}

.main2Image {
    position: relative;
    width: 50rem;
    height: 28rem;
    right: 0;
    background-color: var(--main2);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 5px;
    transition: margin-left 0.3s ease;
}

.main2Text {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 4rem;
}

@media screen and (max-width: 1600px) {
    /*2385 × 1335*/
    .main2Image {
        width: 40rem;
        height: 22.4rem;
    }
}

@media screen and (max-width: 1430px) {
    .main2Content {
        flex-direction: column;
        top: 10%;
    }

    .main2Text {
        margin-left: 0;
        margin-top: 4rem;
    }

    .main2 {
        min-height: 900px;
    }
}


@media screen and (max-width: 1150px) {
    .mainText2 {
        width: 42rem;
    }

    .mainBackground1, .mainBackground2 {
        margin-left: 32rem;
    }
}

/* top menu switch */
@media screen and (max-width: 780px) {
    .mainContent, .main2Content {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 690px) {
    .main2Image {
        align-self: center;
        margin-right: 1rem;
    }
}


@media screen and (max-width: 600px) {
    .mainBackground1, .mainBackground2 {
        margin-left: 50rem;
    }
}

@media (min-height: 700px) and (max-width: 550px) {
    .main {
        height: 90vh;
    }

    .main2 {
        height: 80vh;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    .main {
        height: 80vh;
    }
}

/* most phones... i think? (hope) */
/*(min-height: 500px) and*/
@media (min-height: 520px) and (max-width: 460px) {
    .main, .main2 {
        min-height: 0;
    }

    .mainBackground {
        margin-top: 0;
    }
}

/* is this really needed? */
@media (max-height: 520px) and (max-width: 460px) {
    .main, .main2 {
        min-height: 500px;
    }
}